bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/nyUtdannet2/nyUtdannet2.db
nyUtdannet2/nyUtdannet2.db-shm
nyUtdannet2/nyUtdannet2.db-wal
nyUtdannet2/nyUtdannet2.db
nyUtdannet2/nyUtdannet2.db-shm
nyUtdannet2/nyUtdannet2.db-wal
nyUtdannet2/nyUtdannet2.db
nyUtdannet2/nyUtdannet2.db-shm
nyUtdannet2/nyUtdannet2.db-wal
