@page
@model PageModel
@{
    ViewData["Title"] = "Glemt passord bekreftelse";
    Layout = "_Layout";
}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card p-4">
                <h1 class="text-center">@ViewData["Title"]</h1>
                <p class="text-center">
                    Vi har sendt deg en e-post med instruksjoner for å tilbakestille passordet ditt.
                    Vennligst sjekk e-posten din.
                </p>
                <div class="d-grid gap-2 mt-3">
                    <a asp-page="./Login" class="btn btn-primary">Tilbake til innlogging</a>
                </div>
            </div>
        </div>
    </div>
</div>

@functions {
    public class PageModel : Microsoft.AspNetCore.Mvc.RazorPages.PageModel
    {
    }
}