@model dynamic

@{
    ViewBag.Title = "title";
    Layout = "_Layout";
}

<h2>For business!</h2>
<div class="text-center mt-4">
    <a href="/JobApplications/Index" class="btn btn-teal me-2">
        <i class="bi bi-file-earmark-text-fill"></i> Se søknader
    </a>
    <a href="/JobListings/Create" class="btn btn-teal">
        <i class="bi bi-plus-circle-fill"></i> Ny stilling
    </a>
</div>
