@{
    ViewData["Title"] = "Home";
}

    <main class="search-section">
        <form class="search-box">
            <input type="text" placeholder="Job title, skill or company" class="input" />
            <input type="text" placeholder="Town, city or postcode" class="input" />
            <button type="submit" class="btn">SØk</button>
        </form>

        <div class="filters">
            <label><input type="checkbox" /> Permanent</label>
            <label><input type="checkbox" /> Temporary</label>
            <label><input type="checkbox" /> Part Time</label>
        </div>
    </main>


