@using Microsoft.AspNetCore.Identity
@using nyUtdannet2.Models
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <ul class="navbar-nav ms-auto d-flex align-items-center">
        <li class="nav-item">
            <a asp-controller="Home" asp-action="Profile" class="nav-link username">
                Hei, @UserManager.GetUserName(User)!
            </a>
        </li>
        <li class="nav-item">
            <form asp-area="Identity" asp-page="/Account/Logout" method="post" class="d-inline">
                <button type="submit" class="nav-link logout">
                    <i class="fas fa-sign-out-alt"></i> Logg ut
                </button>
            </form>
        </li>
    </ul>
}
else
{
    <ul class="navbar-nav ms-auto">
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Register">Registrer</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" asp-area="Identity" asp-page="/Account/Login">Logg inn</a>
        </li>
    </ul>
}
